/* Write all your CSS style code in this file! */
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
body {
  background-color: lightpink;
}
#buttonone {
  text-align: center;
}
button{
  color: white;
  background-color: black;
}
svg{
  display: block;
  margin: auto;
  margin-top: 55px;
}
#paragraph1{
  position: absolute;
  left: 200px;
  top: 0px;
  font-family: 'Permanent Marker', cursive;
  display: block;
}

#paragraph2{
  position: absolute;
  left: 200px;
  top: 0px;
  font-family: 'Coming Soon', cursive;
  display: none;
}
#gameover{
  display: none;
  position: absolute;
  left: 160px;
  top: 200px;

  font-family: 'Rock Salt', cursive;
  color: white;
  background-color: black;
}
